.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section {
    margin: 5rem auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.heading{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
}

.container a {
    color: #93CB58;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    margin-right: .5rem;
}

.recent {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .cards {
        display: grid;
    }

    .container {
        margin-top: 2rem;
    }
    .recent {
        display: grid;
    }
}