/* * Hero  */
.section {
    margin-inline: auto;
    margin-bottom: 5rem;
}
.containerTop {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.right {
    text-align: center;
    padding: 1rem;
}

.preTitle, .subTitle{
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    color: var(--light);
}

.title{
    font-size: clamp(2rem, 2.5vw, 4rem);
}

/* * Media Queries Hero */

/* Mobile */
@media (max-width: 40em) {
    .section {
        margin-bottom: 5rem;
    }

    .containerTop{
        grid-template-columns: 1fr;
    }

    .left {
        text-align: center;
    }
    .right {
        text-align: center;
    }
    .right img {
        padding: .5rem;
        width: 300px;
        height: 280px;

    }
}

/* Tablet */
@media (min-width: 40em) and (max-width: 70em){
    .section {
        margin: 5rem auto;
    }
    .right img {
        width: 420px;
        height: 380px;
    }
}

/* Desktop */
@media (min-width: 70em) {
    .right {
        display: flex;
        justify-content: center;
        width: clamp(550px, 30vw, 1000px);
    }

}

/* ! Call To Actions */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cardA, .cardB, .cardC {
    display: flex;
    justify-content: center;
}

/* ! Media Queries for CTA's */
@media (max-width: 40em){
    .cards {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 40em) and (max-width: 70em){
    .cards {
        grid-template-areas:
         "a . b"
         ". c ."
        ;
        margin-top: 10rem;
    }

    .cardA {
        grid-area: a;
    }

    .cardB {
        grid-area: c;
    }

    .cardC {
        grid-area: b;
    }
}


/* ? Projects */
.containerBtm {
    margin-top: 5rem;
    padding: 1rem;
}

.heading{
    color: var(--primary-alt);
}

.top {
    display: flex;
    justify-content: space-between;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.top a {
    display: flex;
    align-items: center;
    color: var(--main-br-alt);
}

.top span {
    margin-inline: .5rem;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    gap: 2rem;
}
/* * Hover Effects */
.top a:hover {
    color: var(--primary-color);
}


/* ? Media Queries Projects */

@media (max-width: 40em){
    .bottom{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}

@media (min-width: 40em) and (max-width: 70em){

    .bottom {
        grid-template-columns: 1fr;
        padding: 6rem;
        gap: 4rem;
    }
}

@media (min-width: 70em) {

}