
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0rem auto;
    text-decoration: none;
    width: 75%;
    height: 6rem;
    align-items: center;
    /* position: sticky;
    top: 0; */
    background-color: #3A3F42;
}

.left a, .right a {
    font-size: 1.5rem;
    color: #93CB58;
    letter-spacing: .05rem;
}

.right a {
    margin: auto 1rem;
}

#active {
    color: #06BEE1;
}


/* * Hover Effects */

.left a:hover, .right a:hover {
    color: #06BEE1;
    transition: all 400ms ease;
}

#active:hover{
    color: #93CB58;
    transition: all 400ms ease;
}