
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--main-bg-color); /* theme main */
    color: var(--white); /* theme white */
    line-height: 1.7;
}

:root {
    --main-bg-color: #3A3F42;
    --main-br-alt: #88B656;
    --primary-color: #A0C1C9;
    --primary-alt: #3B646B;
    --white: #ffffff;
    --light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease;
    --w-lg: 75%;
    --w-md: 86%;
    --w-s: 90%;
}

/* * ---------------* Layout Css *-------------- * */

.layout{
    margin: 0 auto;
    width: var(--w-lg);
}

/* * ---------------* Media Queries *-------------- * */

@media screen and (max-width: 1024px) {
    .layout {
        width: var(--w-md);
    }
}

@media screen and (max-width: 600px) {
    .layout {
        width: var(--w-s);
    }
}
/* Important add due to webpacking */
.hero-title {
    font-size: 2rem;
}